<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"><h2 class="text-center">Upload HLA Files</h2></div>
  </div>
  <hr>
  <div>
    <h5 class="text-center">Currently only .csv files may be uploaded</h5>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12"><%= image_tag('upload.png', alt: 'Upload example', style: 'display:block;margin-left: auto; margin-right: auto;') %></span></div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-5"></div>
    <div class="col-sm-2">
     <%= form_for @hlaupload, html: { multipart: true } do |f| %>
        <%= f.label :datafile %>
        <%= f.file_field :datafile %>
        <br>
        <%= f.submit "Save", class: "btn btn-indigo" %>
     <% end %>
    </div>
  </div>
  <hr>
</div>
