<div class="container">
  <div class="col-md-12">
    <table class="table table-bordered" style="margin-top:50px;">
      <tr>
        <th>File</th>
        <td><%= @u.file %></td>
      </tr>
      <tr>
        <th>Upload type</th>
        <td><%= @u.upload_type %></td>
      </tr>
      <tr>
        <th>Duplicate Upload?</th>
        <td><%= @u.duplicate_upload %></td>
      <tr>
        <th># Successful Uploads</th>
        <td><%= @u.uploads %></td>
      </tr>
      <tr>
        <th># Failed Uploads</th>
        <td><%= @u.failed_uploads %></td>
      </tr>
      <tr>
        <th>Duplicates</th>
        <td><%= @u.duplicates %></td>
      </tr>
      <tr>
        <th>Uploaded by</th>
        <td><%= User.find(@u.uploaded_by).email %></td>
      </tr>
      <tr>
        <th>Uploaded on</th>
        <td><%= @u.created_at.strftime('%B %d, %Y') %></td>
      </tr>
      <tr>
        <% if @u.error_message %>
        <th>Error Messages</th>
        <td>
          <% @u.error_message.split(';').each do |m| %>
                <%= m %><br>
                <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
