<div class="container">

  <div class="row">
    <div class="col-md-12" style="border-top:1px solid #696969">

      <div class="row">
        <div class="col-sm-3">
          <div style="margin-top:40px;">
            <h5>Select Report</h5>
            <%= form_for(@new_report, :url => {:controller => "upload_reports", :action => "update"}) do |f| %>
              <% f.select :upload_datetime, options_for_select(@new_report.report_times, selected: @report.upload_datetime), {}, onchange:"$(this.closest('form')).submit()" %>
            <% end %>
          </div>
        </div>
        <div class="col-sm-8">
          <table class="table table-bordered" style="margin-top:50px;">
            <tr>
              <th>File</th>
              <td><%= @report.file %></td>
            </tr>
            <tr>
              <th>Upload type</th>
              <td><%= @report.upload_type %></td>
            </tr>
            <tr>
              <th>Duplicate Upload?</th>
              <td><%= @report.duplicate_upload %></td>
            <tr>
              <th># Successful Uploads</th>
              <td><%= @report.uploads %></td>
            </tr>
            <tr>
              <th># Failed Uploads</th>
              <td><%= @report.failed_uploads %></td>
            </tr>
            <tr>
              <th>Duplicates</th>
              <td><%= @report.duplicates %></td>
            </tr>
            <tr>
              <th>Uploaded by</th>
              <td><%= User.find(@report.uploaded_by).email %></td>
            </tr>
            <tr>
              <th>Uploaded on</th>
              <td><%= @report.upload_datetime %></td>
            </tr>
            <tr>
              <% if @report.error_message %>
              <th>Error Messages</th>
              <td>
                <% @report.error_message.split(';').each do |m| %>
                      <%= m %><br>
                      <% end %>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
