<div class="text-justify collapse" id="HLAs">
  <div class="row">
    <h2 class="text-center">HLAs available for <%= current_user.affiliation %></h2>
  </div>
  <br>
  <div class="row">
    <div id="hla_table">
    </div>
  </div>
  <!-- <table class="table-bordered" style="margin-bottom:20px;">
    <thead>
      <tr>
        <th>INDIGO_ID</th>
        <th>DRB1_15 Copies Calculated</th>
        <th>DRB1_1</th>
        <th>DRB1_2</th>
        <th>DQB1_1</th>
        <th>DQB1_2</th>
        <th>DPB1_1</th>
        <th>DPB1_2</th>
        <th>A_1</th>
        <th>A_2</th>
        <th>B_1</th>
        <th>B_2</th>
        <th>C_1</th>
        <th>C_2</th>
      </tr>
    </thead>
    <tbody>
      <% @hlas.each do |hla| %>
        <tr>
          <td><%= hla.indigo_id %></td>
          <td><%= hla.drb1_15_copies_calculated %></td>
          <td><%= hla.drb1_1 %></td>
          <td><%= hla.drb1_2 %></td>
          <td><%= hla.dqb1_1 %></td>
          <td><%= hla.dqb1_2 %></td>
          <td><%= hla.dpb1_1%></td>
          <td><%= hla.dpb1_2 %></td>
          <td><%= hla.a_1 %></td>
          <td><%= hla.a_2 %></td>
          <td><%= hla.b_1 %></td>
          <td><%= hla.b_2 %></td>
          <td><%= hla.c_1 %></td>
          <td><%= hla.c_2 %></td>
        </tr>
      <% end %>
    </tbody>
  </table> -->
  <hr>
  <div class="row">
    <%= link_to "Download HLA Data", dataview_download_hla_data_path(format:"csv"), :class => "btn btn-indigo btn-block col-sm-12" %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $.get('<%= Rails.application.routes.url_helpers.dataview_hlas_to_json_path %>', function(hlas){
      console.log(hlas)

      var dataMatrix = [];
      hlas.forEach(function(hla) {
        dataMatrix.push([hla['indigo_id'], hla['drb1_15_copies_calculated'], hla['drb1_1'], hla['drb1_2'], hla['dqb1_1'], hla['dqb1_2'],
                         hla['dpb1_1'], hla['dpb1_2'], hla['a_1'], hla['a_2'], hla['b_1'], hla['b_2'], hla['c_1'], hla['c_2']])
      });
      // console.log(dataMatrix);
      google.charts.load('current', {'packages': ['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Indigo ID');
        data.addColumn('string', 'DRB1_15 Copies Calculated');
        data.addColumn('string', 'DRB1_1');
        data.addColumn('string', 'DRB1_2');
        data.addColumn('string', 'DQB1_1');
        data.addColumn('string', 'DQB1_2');
        data.addColumn('string', 'DPB1_1');
        data.addColumn('string', 'DPB1_2');
        data.addColumn('string', 'A_1');
        data.addColumn('string', 'A_2');
        data.addColumn('string', 'B_1');
        data.addColumn('string', 'B_2');
        data.addColumn('string', 'C_1');
        data.addColumn('string', 'C_2');
        data.addRows(dataMatrix);

        var table = new google.visualization.Table(document.getElementById('hla_table'));

        table.draw(data, {showRowNumber: false, page: 'enable', pageSize: 20});
      }
    })
  });
  </script>
