<div class="text-justify collapse" id="Samples">
  <div class="row">
    <h2 class="text-center">Samples available for <%= current_user.affiliation %></h2>
  </div>
  <table class="table-bordered">
    <thead>
      <tr>
        <th class="col-sm-1">INDIGO_ID</th>
        <th class="col-sm-1">Disease</th>
        <th class="col-sm-1">Sex</th>
        <th class="col-sm-1">Ethnicity</th>
        <th class="col-sm-1">Site Sample ID</th>
        <th class="col-sm-1">Batch</th>
        <th class="col-sm-1">Sample Received</th>
        <th class="col-sm-1">Sent To Stanford</th>
      </tr>
    </thead>

    <% @samples.each do |sample| %>
      <tr>
        <td class="col-sm-1"><%= sample.indigo_id %></td>
        <td class="col-sm-1"><%= sample.disease %></td>
        <td class="col-sm-1"><%= sample.gender %></td>
        <td class="col-sm-1"><%= sample.ethnicity %></td>
        <td class="col-sm-1"><%= sample.site_sample_id %></td>
        <td class="col-sm-1"><%= sample.batch %></td>
        <td class="col-sm-1"><%= sample.received_date %></td>
        <td class="col-sm-1"><%= sample.sent_date %></td>
      </tr>
    <% end %>
  </table>
  <hr>
  <div class="row">
    <%= link_to "Download Sample Data", dataview_download_sample_data_path(format:"csv"), :class => "btn btn-indigo btn-block col-sm-12" %>
  </div>
</div>
