<div class="container">

  <div class="row">
    <ul class="list-group col-sm-10 col-sm-offset-1" style="background-color:#ededed;border-top:1px solid #696969;border-bottom:1px solid #bdbdbd;margin-right:0px;">
      <li class="list-group-item list-group-item-dataview" style="float:left;"><a class="toggle-table" data-table="sample" style="cursor:pointer;">Samples</a></li>
      <li class="list-group-item list-group-item-dataview" style="float:left;"><a class="toggle-table" data-table="hla" style="cursor:pointer;">HLA Data</a></li>
      <li class="list-group-item list-group-item-dataview" style="float:left;">KIR Data</li>
      <li class="list-group-item list-group-item-dataview" style="float:left;">Complete Data Records</li>
      <li class="list-group-item list-group-item-dataview" style="float:right;"><%= link_to "Download Indigo Data", dataview_download_idr_path(format:"csv") %></li>
      <!-- <li class="list-group-item list-group-item-dataview"><%= link_to "Download Sample Meta Data", dataview_download_sample_data_path(format:"csv") %></li>
      <li class="list-group-item list-group-item-dataview"><%= link_to "Download HLA Data", dataview_download_hla_data_path(format:"csv") %></li>
      <li class="list-group-item list-group-item-dataview"><%= link_to "Download KIR Data", dataview_download_kir_data_path(format:"csv") %></li>
      <li class="list-group-item list-group-item-dataview"><%= link_to "Download Complete Data Records", dataview_download_idr_path(format:"csv") %><span class="badge"><%= @idrs.count %></span></li> -->
    </ul>
  </div>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 table-graph" style="background-color:#ededed;margin-top:-20px;border-top:20px solid #ededed" id="sample"><div id="sample_table"></div></div>
    <div class="col-sm-10 col-sm-offset-1 table-graph hide-table" style="background-color: #ededed;margin-top:-20px;border-top:20px solid #ededed" id="hla"><div id="hla_table"></div></div>
    <div class="col-sm-10 col-sm-offset-1 table-graph hide-table" style="background-color: #ededed;margin-top:-20px;border-top:20px solid #ededed" id="kir"><div id="kir_table"></div></div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){

    $('.toggle-table').on('click', function() {
      var $clicked = $(this);
      $('.table-graph').each(function(index, element){
        if (element.id !== $clicked.attr("data-table")) {
          $(element).addClass("hide-table");
        }
        else {
          $(element).removeClass("hide-table");
        }
      });
    })

    $.get('<%= Rails.application.routes.url_helpers.dataview_samples_to_json_path %>', function(samples){
      // console.log(samples)

      var dataMatrix = [];

      samples.forEach(function(sample) {

        dataMatrix.push([sample['indigo_id'], sample['site_sample_id'],sample['disease'], sample['gender'], sample['ethnicity'], sample['age_at_sample'], sample['short_date']])
      });
      // console.log(dataMatrix);
      google.charts.load('current', {'packages': ['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Indigo ID');
        data.addColumn('string', 'Site Sample ID')
        data.addColumn('string', 'Disease');
        data.addColumn('string', 'Gender');
        data.addColumn('string', 'Ethnicity');
        data.addColumn('number', 'Age at Sample');
        data.addColumn('string', 'Date Uploaded');
        data.addRows(dataMatrix);

        var table = new google.visualization.Table(document.getElementById('sample_table'));

        table.draw(data, {showRowNumber: false, width: '100%', page: 'enable', pageSize: 25});
      }
    })
    $.get('<%= Rails.application.routes.url_helpers.dataview_hlas_to_json_path %>', function(hlas){
      // console.log(hlas)

      var dataMatrix = [];
      hlas.forEach(function(hla){

        dataMatrix.push([hla['indigo_id'], hla['drb1_15_copies_calculated'], hla['drb1_1'], hla['drb1_2'], hla['dqb1_1'], hla['dqb1_2'],
                         hla['dpb1_1'], hla['dpb1_2'], hla['a_1'], hla['a_2'], hla['b_1'], hla['b_2'], hla['c_1'], hla['c_2'], hla['dpa1_1'],
                         hla['dpa1_2'], hla['dqa1_1'], hla['dqa1_2'], hla['drbo_1'], hla['drbo_2']])
      });
      console.log(dataMatrix[0]);
      google.charts.load('current', {'packages': ['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Indigo ID');
        data.addColumn('string', 'DRB1_15 Copies Calculated');
        data.addColumn('string', 'DRB1/1');
        data.addColumn('string', 'DRB1/2');
        data.addColumn('string', 'DQB1/1');
        data.addColumn('string', 'DQB1/2');
        data.addColumn('string', 'DPB1/1');
        data.addColumn('string', 'DPB1/2');
        data.addColumn('string', 'A/1');
        data.addColumn('string', 'A/2');
        data.addColumn('string', 'B/1');
        data.addColumn('string', 'B/2');
        data.addColumn('string', 'C/1');
        data.addColumn('string', 'C/2');
        data.addColumn('string', 'DPA1/1');
        data.addColumn('string', 'DPA1/2');
        data.addColumn('string', 'DQA1/1');
        data.addColumn('string', 'DQA1/2');
        data.addColumn('string', 'DRBo/1');
        data.addColumn('string', 'DRBo/2');
        data.addRows(dataMatrix);

        var table = new google.visualization.Table(document.getElementById('hla_table'));

        table.draw(data, {showRowNumber: false, frozenColumns: 1, page: 'enable', pageSize: 25});
      }
    })
  });
  </script>
