<div class="container content-body">
<% if @target == 'unknown'%>
  <div class="row">
    <div class="col-lg-10">
      <h1 class="center">Choose disease dataset</h1>
    </div>
        <div class="col-lg-2">
      <div style="padding-top:20px;padding-bottom:20px;">
        <%= render 'dataview/partials/disease_selector_menu'%>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-lg-10">
      <h1 id="superindex-disease"><%= @header_content %></h1>
      <span id="disease-selector" style="display:none;"><%= @disease %></span>
    </div>
    <div class="col-lg-2">
      <div style="padding-top:20px;padding-bottom:20px;">
        <%= render 'dataview/partials/disease_selector_menu'%>
      </div>
    </div>
  </div>
  <!-- nav tabs -->
  <div class="row">
    <ul class="nav nav-tabs table-tab-bar">
      <li class="active table-tab"><a data-toggle="tab" href="#sample">Samples</a></li>
      <li class="table-tab"><a data-toggle="tab" href="#hla">HLA</a></li>
      <li class="table-tab"><a data-toggle="tab" href="#kir">KIR</a></li>
<!--      <li class="table-tab"><a data-toggle="tab" href="#graphs">Graphs</a></li>-->
    </ul>
  </div>

  <div class="tab-content">
    <%= render 'dataview/partials/samples_datatable' %>
    <%= render 'dataview/partials/hla_datatable' %>
    <%= render 'dataview/partials/kir_v2_datatable' %>
  </div> <!-- closes tab-content -->
<% end %>
</div> <!-- closes container -->
