<div class="container">
  <!-- nav tabs -->
  <div class="row" style="background-color:#ededed;border-top:1px solid #696969;border-bottom:1px solid #ededed;">
    <div class="col-md-12">
      <ul class="nav nav-tabs" style="margin-left:0px;">
        <!-- <li><a data-toggle="tab" href="#summary">Summary</a></li> -->
        <li class="active"><a data-toggle="tab" href="#sample">Samples</a></li>
        <li><a data-toggle="tab" href="#hla">HLA</a></li>
        <li><a data-toggle="tab" href="#kir" disabled>KIR</a></li>
      </ul>
    </div>
  </div>
  <!-- spinner and table header/tab contents -->
  <div class="row" style="border: 1px solid #ededed; border-top:none; background-color:#fdfdfd;padding-bottom:10px;">
    <div class="col-md-12 tab-content">
      <div class="tab-pane fade hide-table" id="summary">
      </div>
      <div class="tab-pane fade in active" id="sample">
        <div class="row">
          <div class="col-sm-9">
            <h3>&nbsp;&nbsp;<%= @samples.count %> INDIGO Samples</h3>
          </div>
          <div class="col-sm-3">
            <%= link_to "Download Samples/HLA/KIR Table", dataview_download_all_data_superuser_path(format:"csv"), :'data-toggle' => "tooltip", :'data-placement' => 'top', :'title' => "This can take ten seconds or longer.", :class => "btn btn-indigo btn-md", :style => "margin-top:15px; color:white;" %>
          </div>
        </div>
        <br>
        <div id="sample_table"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="sk-circle spinner">
              <div class="sk-circle1 sk-child"></div>
              <div class="sk-circle2 sk-child"></div>
              <div class="sk-circle3 sk-child"></div>
              <div class="sk-circle4 sk-child"></div>
              <div class="sk-circle5 sk-child"></div>
              <div class="sk-circle6 sk-child"></div>
              <div class="sk-circle7 sk-child"></div>
              <div class="sk-circle8 sk-child"></div>
              <div class="sk-circle9 sk-child"></div>
              <div class="sk-circle10 sk-child"></div>
              <div class="sk-circle11 sk-child"></div>
              <div class="sk-circle12 sk-child"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade hide-table" id="hla">
        <div class="row">
          <div class="col-sm-10">
            <h3>&nbsp;&nbsp;<%= @hlas.count %> HLA </h3>
          </div>
          <div class="col-sm-2">
            <%= link_to "Download HLA Table", dataview_download_hla_data_superuser_path(format:"csv"), :class => "btn btn-indigo btn-md", :style => "margin-top:10px; color:white;" %>
          </div>
        </div>
        <br>
        <div id="hla_table"></div>
      </div>
      <div class="tab-pane fade hide-table" id="kir">
        <div class="row">
          <div class="col-sm-10">
            <h3>&nbsp;&nbsp;<%= @kirs.count %> KIR</h3>
          </div>
          <div class="col-sm-2">
            <%= link_to "Download KIR Table", dataview_download_kir_data_superuser_path(format:"csv"), :class => "btn btn-indigo btn-md", :style => "margin-top:10px; color:white;" %>
          </div>
        </div>
        <br>
        <div id="kir_table"></div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">

  $(document).ready(function(){

    $(".spinner").hide();

    $(document).ajaxStart(function(){
      $(".spinner").show();
    });

    $(document).ajaxStop(function() {
      $(".spinner").hide();
    });

    $.get('<%= Rails.application.routes.url_helpers.dataview_superindex_samples_to_json_path %>', function(samples){

      var dataMatrix = [];

      samples.forEach(function(sample) {

        dataMatrix.push([sample['indigo_id'], sample['sample_source'], sample['sample_source_identifier'],sample['disease'], sample['gender'], sample['ethnicity'], sample['age_at_sample'], sample['age_of_onset'], sample['created_at'].split("T")[0]])
      });
      google.charts.load('current', {'packages': ['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Indigo ID');
        data.addColumn('string', 'Sample Source')
        data.addColumn('string', 'Site Sample ID')
        data.addColumn('string', 'Disease');
        data.addColumn('string', 'Gender');
        data.addColumn('string', 'Ethnicity');
        data.addColumn('number', 'Age at Sample');
        data.addColumn('number', 'Age of Onset')
        data.addColumn('string', 'Date Uploaded');
        data.addRows(dataMatrix);

        var table = new google.visualization.Table(document.getElementById('sample_table'));

        table.draw(data, {showRowNumber: false, width: '100%', page: 'enable', pageSize: 25});
      }
    })
    $.get('<%= Rails.application.routes.url_helpers.dataview_superindex_hlas_to_json_path %>', function(hlas){
      // console.log(hlas)

      var dataMatrix = [];
      hlas.forEach(function(hla){

        dataMatrix.push([hla['indigo_id'], hla['drb1_1'], hla['drb1_2'], hla['dqb1_1'], hla['dqb1_2'],
                         hla['dpb1_1'], hla['dpb1_2'], hla['a_1'], hla['a_2'], hla['b_1'], hla['b_2'], hla['c_1'], hla['c_2'], hla['dpa1_1'],
                         hla['dpa1_2'], hla['dqa1_1'], hla['dqa1_2'], hla['drbo_1'], hla['drbo_2']])
      });
      console.log(dataMatrix[0]);
      google.charts.load('current', {'packages': ['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Indigo ID');
        data.addColumn('string', 'DRB1/1');
        data.addColumn('string', 'DRB1/2');
        data.addColumn('string', 'DQB1/1');
        data.addColumn('string', 'DQB1/2');
        data.addColumn('string', 'DPB1/1');
        data.addColumn('string', 'DPB1/2');
        data.addColumn('string', 'A/1');
        data.addColumn('string', 'A/2');
        data.addColumn('string', 'B/1');
        data.addColumn('string', 'B/2');
        data.addColumn('string', 'C/1');
        data.addColumn('string', 'C/2');
        data.addColumn('string', 'DPA1/1');
        data.addColumn('string', 'DPA1/2');
        data.addColumn('string', 'DQA1/1');
        data.addColumn('string', 'DQA1/2');
        data.addColumn('string', 'DRBo/1');
        data.addColumn('string', 'DRBo/2');
        data.addRows(dataMatrix);

        var table = new google.visualization.Table(document.getElementById('hla_table'));

        table.draw(data, {showRowNumber: false, frozenColumns: 1, page: 'enable', pageSize: 25});
      }
    })
    $.get('<%= Rails.application.routes.url_helpers.dataview_kirs_to_json_path %>', function(kirs){
      console.log(kirs)

      var dataMatrix = [];
      kirs.forEach(function(kir){

        dataMatrix.push([kir['indigo_id'], kir['KIR2DL1'], kir['KIR2DL2'], kir['KIR2DL3'], kir['KIR2DL4'], kir['KIR2DL5A'], kir['KIR2DL5B'], kir['KIR2DP1'], kir['KIR2DS1'], kir['KIR2DS2'],
                          kir['KIR2DS3'], kir['KIR2DS4'], kir['KIR2DS5'], kir['KIR3DL1'], kir['KIR3DL2'], kir['KIR3DL3'], kir['KIR3DS1']])
      });
      google.charts.load('current', {'packages': ['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Indigo ID');
        data.addColumn('string', 'KIR2DL1');
        data.addColumn('string', 'KIR2DL2');
        data.addColumn('string', 'KIR2DL3');
        data.addColumn('string', 'KIR2DL4');
        data.addColumn('string', 'KIR2DL5A');
        data.addColumn('string', 'KIR2DL5B');
        data.addColumn('string', 'KIR2DP1');
        data.addColumn('string', 'KIR2DS1');
        data.addColumn('string', 'KIR2DS2');
        data.addColumn('string', 'KIR2DS3');
        data.addColumn('string', 'KIR2DS4');
        data.addColumn('string', 'KIR2DS5');
        data.addColumn('string', 'KIR3DL1');
        data.addColumn('string', 'KIR3DL2');
        data.addColumn('string', 'KIR3DL3');
        data.addColumn('string', 'KIR3DS1');
        data.addRows(dataMatrix);

        var table = new google.visualization.Table(document.getElementById('kir_table'));

        table.draw(data, {showRowNumber: false, frozenColumns: 1, page: 'enable', pageSize: 25})
      }
    })
  });
  </script>
