<div class="container content-body">
  <div class="row">
    <div class="col-lg-12">
      <h1 id="superindex-disease"><%= @header_content %></h1>
      <span id="disease-selector" style="display:none;"><%= @disease %></span>
    </div>
  </div>
  <!-- nav tabs -->
  <div class="row">
    <ul class="nav nav-tabs table-tab-bar">
      <li class="active table-tab"><a data-toggle="tab" href="#sample">Samples</a></li>
      <li class="table-tab"><a data-toggle="tab" href="#hla">HLA</a></li>
      <li class="table-tab"><a data-toggle="tab" href="#kir">KIR</a></li>
<!--      <li class="table-tab"><a data-toggle="tab" href="#graphs">Graphs</a></li>-->
    </ul>
  </div>

  <div class="tab-content">
    <%= render 'dataview/partials/samples_datatable' %>
    <%= render 'dataview/partials/hla_datatable' %>
    <%= render 'dataview/partials/kir_v2_datatable' %>
  </div> <!-- closes tab-content -->

</div> <!-- closes container -->
