<div class="container content-body">
  <div class="row">
    <div class="col-lg-12">
      <h1 id="superindex-disease"><%= @header_content %></h1>
      <span id="disease-selector" style="display:none;"><%= @disease %></span>
    </div>
  </div>
  <!-- nav tabs -->
  <div class="row">

      <ul class="nav nav-tabs table-tab-bar">
        <li class="active table-tab"><a data-toggle="tab" href="#sample">Samples</a></li>
        <li class="table-tab"><a data-toggle="tab" href="#hla">HLA</a></li>
        <li class="table-tab"><a data-toggle="tab" href="#kir">KIR</a></li>
      </ul>

  </div>

  <div class="tab-content">

    <div class="tab-pane fade in active" id="sample">
      <div class="row" style="border:1px solid #ededed;border-top:none;background-color:#fdfdfd;padding-bottom:10px;">
        <div class="col-sm-12">
          <br>
          <div class="row">
            <div class="col-sm-12">
              <table id="sample-table-checkbox">
                <caption>check/uncheck boxes to show/hide columns</caption>
                <tr>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=0 data-table-id="samples-superindex-table" checked=true>INDIGO ID</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=1 data-table-id="samples-superindex-table" checked=true>Source</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=2 data-table-id="samples-superindex-table" checked=true>Site ID</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=3 data-table-id="samples-superindex-table" checked=true>Disease</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=4 data-table-id="samples-superindex-table" checked=true>Sex</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=5 data-table-id="samples-superindex-table" checked=true>Race</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=6 data-table-id="samples-superindex-table" checked=true>Age of Onset</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=7 data-table-id="samples-superindex-table" checked=true>Age at Sample</label>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <br>
          <table id="samples-superindex-table" class="table table-striped table-bordered" data-source="<%= dataview_samples_superindex_url(format:"json") %>" >
            <thead>
              <tr>
                <th>INDIGO ID</th>
                <th>Sample Source</th>
                <th>Site ID</th>
                <th>Disease</th>
                <th>Sex</th>
                <th>Race</th>
                <th>Age of Onset</th>
                <th>Age at Sample</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="hla">
      <div class="row" style="border:1px solid #ededed;border-top:none;background-color:#fdfdfd;padding-bottom:10px;overflow-x:scroll;">
        <div class="col-sm-12">
          <br>
          <div class="row">
            <div class="col-sm-12">
              <table id="hla-table-checkbox">
                <caption>check/uncheck boxes to show/hide columns</caption>
                <tr>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=0 data-table-id="hlas-superindex-table" checked=true>INDIGO ID</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=1 data-table-id="hlas-superindex-table" checked=true>Source</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column="2,3" data-table-id="hlas-superindex-table" checked=true>DRB1</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column="4,5" data-table-id="hlas-superindex-table" checked=true>DQB1</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column="6,7" data-table-id="hlas-superindex-table" checked=true>DPB1</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column="8,9" data-table-id="hlas-superindex-table" checked=true>A</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column="10,11" data-table-id="hlas-superindex-table" checked=true>B</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column="12,13" data-table-id="hlas-superindex-table" checked=true>C</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column="14,15" data-table-id="hlas-superindex-table" checked=true>DPA1</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column="16,17" data-table-id="hlas-superindex-table" checked=true>DQA1</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column="18,19" data-table-id="hlas-superindex-table" checked=true>DRBo</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=20 data-table-id="hlas-superindex-table" checked=true>DPB1 phase ambiguities</label>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <br>
          <table id="hlas-superindex-table" class="table table-striped table-bordered" data-source="<%= dataview_hla_superindex_url(format:"json") %>" >
            <thead>
              <tr>
                <th>INDIGO ID</th>
                <th>Sample Source</th>
                <th>DRB1/1</th>
                <th>DRB1/2</th>
                <th>DQB1/1</th>
                <th>DQB1/2</th>
                <th>DPB1/1</th>
                <th>DPB1/2</th>
                <th>A/1</th>
                <th>A/2</th>
                <th>B/1</th>
                <th>B/2</th>
                <th>C/1</th>
                <th>C/2</th>
                <th>DPA1/1</th>
                <th>DPA1/2</th>
                <th>DQA1/1</th>
                <th>DQA1/2</th>
                <th>DRBo/1</th>
                <th>DRBo/2</th>
                <th>DPB1 phase ambiguities</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="kir">
      <div class="row" style="border:1px solid #ededed;border-top:none;background-color:#fdfdfd;padding-bottom:10px;overflow-x:scroll;">
        <div class="col-sm-12">
          <br>
          <div class="row">
            <div class="col-sm-12">
              <table id="kir-table-checkbox">
                <caption>check/uncheck boxes to show/hide columns</caption>
                <tr>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=0 data-table-id="kirs-superindex-table" checked=true>INDIGO ID</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=1 data-table-id="kirs-superindex-table" checked=true>Source</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=2 data-table-id="kirs-superindex-table" checked=true>2DL1</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=3 data-table-id="kirs-superindex-table" checked=true>2DL2</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=4 data-table-id="kirs-superindex-table" checked=true>2DL3</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=5 data-table-id="kirs-superindex-table" checked=true>2DL4</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=6 data-table-id="kirs-superindex-table" checked=true>2DL5A</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=7 data-table-id="kirs-superindex-table" checked=true>2DL5B</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=8 data-table-id="kirs-superindex-table" checked=true>2DP1</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=9 data-table-id="kirs-superindex-table" checked=true>2DS1</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=10 data-table-id="kirs-superindex-table" checked=true>2DS2</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=11 data-table-id="kirs-superindex-table" checked=true>2DS3</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=12 data-table-id="kirs-superindex-table" checked=true>2DS4</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=13 data-table-id="kirs-superindex-table" checked=true>2DS5</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=14 data-table-id="kirs-superindex-table" checked=true>3DL1</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=15 data-table-id="kirs-superindex-table" checked=true>3DL2</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=16 data-table-id="kirs-superindex-table" checked=true>3DL3</label>
                  </td>
                  <td>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="show-column-checkbox" data-column=17 data-table-id="kirs-superindex-table" checked=true>3DS1</label>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <br>
          <table id="kirs-superindex-table" class="table table-striped table-bordered" data-source="<%= dataview_kir_superindex_url(format:"json") %>" >
            <thead>
              <tr>
                <th>INDIGO ID</th>
                <th>Sample Source</th>
                <th>KIR2DL1</th>
                <th>KIR2DL2</th>
                <th>KIR2DL3</th>
                <th>KIR2DL4</th>
                <th>KIR2DL5A</th>
                <th>KIR2DL5B</th>
                <th>KIR2DP1</th>
                <th>KIR2DS1</th>
                <th>KIR2DS2</th>
                <th>KIR2DS3</th>
                <th>KIR2DS4</th>
                <th>KIR2DS5</th>
                <th>KIR3DL1</th>
                <th>KIR3DL2</th>
                <th>KIR3DL3</th>
                <th>KIR3DS1</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div> <!-- closes tab-content -->

</div> <!-- closes container -->
