<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3 profile_info_card">
      <br>
      <h5 class="profile_key">Email: <%= @user.email %></h5>
      <br>
      <h5 class="profile_key">Affiliation: <%= @user.affiliation %></h5>
      <br>
      <h5 class="profile_key">Account Created: <%= date_format(@user.created_at) %></h5>
      <br>
      <h5 class="profile_key">API token: <%= @user.authentication_token %></h5>
      <br>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-2"><%= link_to "Edit My Profile", edit_user_registration_path, :class => "btn btn-indigo btn-sm" %></div>
  </div>
</div>
