<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"><h2 class="text-center">Upload Sample Key Files</h2></div>
  </div>
  <hr>
  <div>
    <h5 class="text-center">Currently only .csv files may be uploaded</h5>
  </div>
  <br>
  <h5 class="text-center">Please be sure that data is formatted with these columns: Site, Disease, Date_Sample_Received, INDIGO_ID, Site_Sample_ID (Local_ID), Batch, Date_Sent_To_Stanford, Sex, Ethnicity</h5>
  <br>
  <div class="row">
    <div class="col-sm-12"><%= image_tag('upload.png', alt: 'Upload example', style: 'display:block;margin-left: auto; margin-right: auto;') %></span></div>
  </div>
  <br>
  <div>
    <h5 class="text-center">Please use the following abbreviations for the Disease column: PD for Parkinson's Disease, ms for Multiple Sclerosis, mg for Myasthenia Gravis, nmo for Neuromyelitis Optica, schizophrenia, healthy control</h5>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-5"></div>
    <div class="col-sm-2">
     <%= form_for @key, html: { multipart: true } do |f| %>
        <%= f.label :keyfile %>
        <%= f.file_field :keyfile %>
        <br>
        <%= f.submit "Save", class: "btn btn-indigo" %>
     <% end %>
    </div>
  </div>
  <hr>
  <div>
    <ul style="list-style:none; width:400px; margin: 0 auto;">
      <li><h4>Previous Uploads</h4></li>
      <% @keys.each do |key| %>
      <li><%= key.created_at.to_formatted_s(:long_ordinal).split(" ").reverse.drop(1).reverse.join(" ") %>: <%= key.keyfile.to_s.split('/').last %></li>
      <% end %>
    </ul>
  </div>
</div>
