
<div class="container animated fadeIn welcome-contain">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1" style="background-color:#f6f6f6;border-top:1px solid #696969;">
      <ul style="list-style:none;padding-top: 5px;">
        <li style="float:right;padding-left:10px;"><%= link_to "Abstract", welcome_collaborators_path, :style => "font-weight:bold; color:#320b59;"  %></li>
        <li style="float:right;padding-left:10px;"><%= link_to "Progress", welcome_progress_path %></li>
        <li style="float:right;padding-left:10px;"><%= link_to "About", welcome_next_path %></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1" style="background-color:#f6f6f6; border-bottom: 2px solid #696969">
      <h2>Immunogenetic Determinants of Disease Risk in Neuological Disease</h2>
      <h3>Oksenberg, Jorge R. &nbsp;&nbsp; Fernandez-Viña, Marcelo</h3>
      <h4>University of California San Francisco</h4>
      <h4>San Francisco, CA, United States</h4>
      <br>
      <p class='text-justify common_text'>
        &nbsp;&nbsp;This project, submitted as a multi-center U19 application on behalf of the <strong>Immunogenetics of Neurological Diseases working GrOup (INDIGO)</strong>,
        has as its primary goal to identify and characterize the repertoire of HLA and KIR genes and alleles that predispose to neurological diseases.
        WE focus the effort on multiple sclerosis, neuromyelitis optica, myasthenia gravis, Parkinson's disease, and schizophrenia - all diseases with
        established association signals in the Major Histocompatibility Complex (MHC). To achieve our goals, we have assembled a multi-disciplinary
        international team that brings together complementary expertise (immuno- and neuro-genetics, clinical, and computational) and a remarkable track
        <%= image_tag('KIR2DL3.png', alt:'Immunohistochemistry (IHC) image for anti-KIR2DL3 antibody', style: "border: 1px solid #bdbdbd; float:left;margin-right: 10px;") %>
        record of productivity to carry out a study of broad scope and depth. Through this collaboration, we will leverage rich and informative datasets
        exceeding 15,000 study participants (cases) and connect genetics with CNS disease utilizing advanced molecular and bio-informatics tools. The
        study design includes 2 independent, yet interactive Projects supported by a common administrative and data/sample management infrastructure.
        Project 1 proposes a comprehensive sequence variation screening in nine HLA loci and association analysis with disease risk. Project 2 will
        assess the distribution of KIR-associated variants, KIR copy number, and KIR promoter polymorphisms in the same diseases. Both projects will
        take advantage of the ancestral diversity of the datasets to advance the fine mappings of the discovered associations. Naturally, we will also
        pursue the analysis of HLA-KIR interactions vis--vis disease susceptibility. Genetic pleiotropy and the identification of common immunogenetics
        across diseases are additional important elements of this initiative. The overarching goal of this project is to achieve a productive integration
        of molecular and clinical datasets to elucidate the genetic pathways that drive risk to CNS injury and neurodegeneration. The isolation of definite
        HLA-KIR associations with the risk of neuroinflammation and neurodegeneration could be transformative by revealing fundamental insights about primary
        disease mechanisms.
      </p>

      <h3>Public Health Relevance</h3>
      <%= image_tag('leukocyte.png', alt:'microscopic view of components of the leukocyte', style: "border: 1px solid #bdbdbd; float:right; margin-left: 10px;") %>
      <p class='text-justify common_text'>
        &nbsp;&nbsp;Our goal is to characterize the immunogenetic determinants of disease risk in diseases of the central nervous system. To address this challenge, we
        leverage the power of novel methodological innovations such as next-generation sequencing with informative sample collections and abundant data-management
        and analysis expertise.<br> <strong>Project 1:</strong> HLA-class I and class II association studies in neurological diseases<br> <strong>Project Leader (PL):</strong> Fernandez-Via, M. <br>
        <strong>DESCRIPTION:</strong> (provided by applicant):
        The goal of this project is to perform a detailed characterization of HLA variants in patients afflicted by multiple sclerosis (MS), neuromyelitis optica (NMO),
        myasthenia gravis (MG), Parkinson's disease (PD), and schizophrenia (SCZD), all neurological diseases with documented 6p21 genetic association signals.
        We will use a cost-effective and highly reproducible next-generation sequencing methodology, customized genotyping algorithms, and a multi-layered
        analytical approach to assess allelic and haplotypic associations with disease risk. Specific Aim 1 will develop and implement the methodologies
        for unambiguously genotyping the HLA-A, B, C, DRB1, DRB3/4/5, DQA1, DQB1, DPA1 and DPB1 loci in patients and controls. Specific Aim 2 will characterize
        HLA noncoding polymorphisms and their association with neurological diseases, and enhance the study design through trans-ancestry analyses and the
        collaboration with Project 2 to identify relevant HLA-KIR interactions. This project is submitted as a key component of the larger INDIGO consortium
        effort. Central to immunity and critically important for human health, HLA molecules are encoded by complex genetic systems with extraordinarily high
        levels of sequence and structural variation and complex expression patterns. Characterization of HLA variation at high resolution will permit us to
        fully appreciate the impact of this diversity across a wide range of neurological diseases.
      </p>
    </div>
  </div>
</div>
