<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h2><%= @collaborator.name %></h2>
      <h4>Proposed Cases and Controls: <%= @collaborator.expected_discovery %></h2>
    </div>
  </div>
  <br>

  <% if @datasets.count == 0 %>
    <div class="row">
      <div class="col-md-12" style="margin-top:100px;">
        <h2 class="text-center">No Samples for <%= @collaborator.name %> Have Been Received at UCSF</h2>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-6">
        <h4 class="text-center">Samples Received by Gender, Cases and Controls</h4>
        <div id="pie-chart-1">
        </div>
      </div>
      <div class="col-md-6">
        <h4 class="text-center">HLA Available by Gender, Cases and Controls</h4>
        <div id="pie-chart-2">
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead style="background-color:#bdbdbd;">
            <th>Dataset</th>
            <th>Number of Samples</th>
            <th>Date Samples Received at UCSF</th>
            <th>Samples To Be Sequenced For HLA, KIR, or Both</th>
            <th>Cases</th>
            <th>Controls</th>
            <th>Date Samples Sent to Stanford</th>
            <th>N of Case & Control Samples Sent to Stanford for Sequencing</th>
            <th>N of Case & Control Raw Data Received at UCSF For Genotype Calling (KIR only)</th>
            <th>N of Case & Control Genotypes Finished, with Version Indicated</th>
            <th>GWAS Dataset Received at UCSF, % of HLA/KIR Samples Covered By GWAS</th>
          </thead>
          <tbody>
            <% @datasets.each do |d| %>
              <% d.batches.each do |b| %>
                <tr>
                  <td><%= d.source %></td>
                  <td><%= b.samples.count %></td>
                  <td><%= b.samples_received_at_ucsf %></td>
                  <td><%= @collaborator.sequence_type %></td>
                  <% if b.cases != nil %>
                    <td><%= b.cases %></td>
                  <% else %>
                    <td>-</td>
                  <% end %>
                  <% if b.controls != nil %>
                    <td><%= b.controls %></td>
                  <% else %>
                    <td>-</td>
                  <% end %>
                  <td><%= b.samples_sent_to_stanford %></td>
                  <% if b.to_stanford %>
                    <td><%= b.samples.count %></td>
                  <% else %>
                    <td>-</td>
                  <% end %>
                  <td></td>
                  <td></td>
                  <td></td>

                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>

</div>

<script>
  google.charts.load('current', { 'packages':['corechart']});



    var collaborator_id = window.location.href.split('=')[1]

    $.get('<%= Rails.application.routes.url_helpers.welcome_dataset_stats_path %>', {collaborator_id: collaborator_id}, function(response){
      console.log(response)

      var prettyPrint = {
        samples_male_cases: "male cases",
        samples_female_cases: "female cases",
        samples_male_controls: "male controls",
        samples_female_controls: "female controls",
        hla_available_male_cases: "male cases",
        hla_available_female_cases: "female cases",
        hla_available_male_controls: "male controls",
        hla_available_female_controls: "female controls"
      }
      var dataMatrix1 = [['Gender/Case or Control', 'Samples']];
      var dataMatrix2 = [['Gender/Case or Control', 'HLA available']];
      var colors = ['#3F51B5', 'red', 'orange', 'green'];
      var colorOptions1 = [];
      var colorOptions2 = [];
      for (key in response) {
        if (key.split('_')[0] === "samples") {
          dataMatrix1.push([prettyPrint[key], response[key]])
        }
        else {
          dataMatrix2.push([prettyPrint[key], response[key]])
        }
      }
      dataMatrix1.forEach(function(array){
        switch (array[0]) {
          case 'male cases':
            colorOptions1.push(colors[0]);
            break;
          case 'female cases':
            colorOptions1.push(colors[1]);
            break;
          case 'male controls':
            colorOptions1.push(colors[2]);
            break;
          case 'female controls':
            colorOptions1.push(colors[3]);
            break;
        }
      })
      dataMatrix2.forEach(function(array){
        switch (array[0]) {
          case 'male cases':
            colorOptions2.push(colors[0]);
            break;
          case 'female cases':
            colorOptions2.push(colors[1]);
            break;
          case 'male controls':
            colorOptions2.push(colors[2]);
            break;
          case 'female controls':
            colorOptions2.push(colors[3]);
            break;
        }
      })
      function drawFirstChart() {
        var data = google.visualization.arrayToDataTable(dataMatrix1);
        var options = {
          colors: colorOptions1,
          pieSliceText:'value',
          legend: { position:'bottom', alignment:'center', textStyle: {fontSize: 12} },
          height: '350',
          chartArea: {width: '100%', height: '90%', top:'5'},
          is3D:true
        }
        var chart = new google.visualization.PieChart(document.getElementById('pie-chart-1'));
        chart.draw(data, options);
      }
      function drawSecondChart() {
        var data = google.visualization.arrayToDataTable(dataMatrix2);
        var options = {
          colors: colorOptions2,
          pieSliceText:'value',
          legend: { position:'bottom', alignment:'center', textStyle: {fontSize: 12} },
          height: '350',
          chartArea: {width: '100%', height: '90%', top:'5'},
          is3D:true
        }
        var chart = new google.visualization.PieChart(document.getElementById('pie-chart-2'));
        chart.draw(data, options);
      }
      google.charts.setOnLoadCallback(drawFirstChart);
      google.charts.setOnLoadCallback(drawSecondChart);
    })



</script>
