<div class="container">

  <div class="row">
    <div class="col-md-9" style="border-top:1px solid #696969;">
      <h2><%= @collaborator.name %></h2>
      <h4>Proposed Cases and Controls: <%= @collaborator.expected_discovery %></h2>
    </div>
    <div class="col-md-3" style="border-top:1px solid #696969;">
      <div class="dropdown" style="margin-top:20px;">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width:100%"><%= @collaborator.name %>&nbsp;<span class="caret"></span></button>
        <ul class="dropdown-menu">
          <% @collaborators.each do |c| %>
            <li><%= link_to c.name, welcome_dataset_path(collaborator_id: c.id) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <br>

  <% if @datasets.count == 0 %>
    <div class="row">
      <div class="col-md-12" style="margin-top:100px;">
        <h2 class="text-center">No Samples for <%= @collaborator.name %> Have Been Received at UCSF</h2>
      </div>
    </div>
  <% elsif @collaborator.name == "Michael J Fox Foundation"%>
      <div class="row">
        <div class="col-md-12" style="margin-top:20px;">
          <h4 class="text-center">Phenotype data is unavailable for Michael J Fox Foundation Samples</h4>
        </div>
      </div>
  <% else %>
    <div class="row">
      <hr>
      <div class="col-md-6">
        <h4 class="text-center">Samples Received by Gender, Cases and Controls</h4>
        <div id="pie-chart-1">
        </div>
      </div>
      <div class="col-md-6">
        <h4 class="text-center">HLA Available by Gender, Cases and Controls of Samples Sent to Stanford for Genotyping</h4>
        <div id="pie-chart-2">
        </div>
      </div>
    </div>
  <% end %>

  <%if @datasets.count > 0 %>
    <hr>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered" style="border-top:1px solid #696969;">
          <thead style="background-color:#bdbdbd;">
            <th>Dataset</th>
            <th>Number of Samples</th>
            <th>Date Samples Received at UCSF</th>
            <th>Samples To Be Sequenced For HLA, KIR, or Both</th>
            <th>Cases</th>
            <th>Controls</th>
            <th>Date Samples Sent to Stanford</th>
            <th>N of Case & Control Samples Sent to Stanford for Sequencing</th>
            <th>N of Case & Control Raw Data Received at UCSF For Genotype Calling (KIR only)</th>
            <th>N of Case & Control Genotypes Finished, with Version Indicated</th>
            <th>GWAS Dataset Received at UCSF, % of HLA/KIR Samples Covered By GWAS</th>
          </thead>
          <tbody>
            <% @datasets.each do |d| %>
              <% d.batches.each do |b| %>
                <tr>
                  <td><%= d.source %></td>
                  <td><%= b.samples.count %></td>
                  <td><%= b.samples_received_at_ucsf %></td>
                  <td><%= @collaborator.sequence_type %></td>
                  <% if b.cases != nil %>
                    <td><%= b.cases %></td>
                  <% else %>
                    <td>-</td>
                  <% end %>
                  <% if b.controls != nil %>
                    <td><%= b.controls %></td>
                  <% else %>
                    <td>-</td>
                  <% end %>
                  <td><%= b.samples_sent_to_stanford %></td>
                  <% if b.to_stanford %>
                    <td><%= b.samples.count %></td>
                  <% else %>
                    <td>-</td>
                  <% end %>
                  <td></td>
                  <td></td>
                  <td></td>

                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>

</div>

<script>

  google.charts.load('current', { 'packages':['corechart']});

    var collaborator_id = window.location.href.split('=')[1];

    $.get('<%= Rails.application.routes.url_helpers.welcome_dataset_stats_path %>', {collaborator_id: collaborator_id}, function(response){

      var prettyPrint = {
        samples_male_cases: "male cases",
        samples_female_cases: "female cases",
        samples_male_controls: "male controls",
        samples_female_controls: "female controls",
        samples_total: "total",
        hla_available_male_cases: "male cases",
        hla_available_female_cases: "female cases",
        hla_available_male_controls: "male controls",
        hla_available_female_controls: "female controls",
        hla_samples_to_stanford: "to stanford"
      }
      var dataMatrix1 = [['Gender/Case or Control', 'Samples'], ["male cases"], ["female cases"] ,["male controls"], ["female controls"], ["not received"]];
      var dataMatrix2 = [['Gender/Case or Control', 'HLA available'], ["male cases"], ["female cases"] ,["male controls"], ["female controls"], ['Sample not genotyped']];
      for (key in response) {
        if (key.split('_')[0] === "samples") {
          switch(prettyPrint[key]) {
            case 'male cases':
              dataMatrix1[1].push(response[key])
              break;
            case 'female cases':
              dataMatrix1[2].push(response[key]);
              break;
            case 'male controls':
              dataMatrix1[3].push(response[key]);
              break;
            case 'female controls':
              dataMatrix1[4].push(response[key]);
              break;
            case 'total':
              dataMatrix1[5].push(response[key]);
              break;
          }
        }
        else {
          switch(prettyPrint[key]) {
            case 'male cases':
              dataMatrix2[1].push(response[key])
              break;
            case 'female cases':
              dataMatrix2[2].push(response[key]);
              break;
            case 'male controls':
              dataMatrix2[3].push(response[key]);
              break;
            case 'female controls':
              dataMatrix2[4].push(response[key]);
              break;
            case 'to stanford':
              dataMatrix2[5].push(response[key]);
              break;
          }
        }
      }

      if (dataMatrix1[5][1] < 0) {
        dataMatrix1.pop();
      }

      function drawFirstChart() {
        var data = google.visualization.arrayToDataTable(dataMatrix1);
        var options = {
          colors: ['#4c177d','#663096','#7647a2','#aa8cc5','#ccbadc'],
          pieSliceText:'value',
          legend: { position:'bottom', alignment:'center', textStyle: {fontSize: 12}, maxLines: '2' },
          height: '350',
          chartArea: {width: '100%', height: '90%', top:'5'},
          is3D:true
        }
        var chart = new google.visualization.PieChart(document.getElementById('pie-chart-1'));
        chart.draw(data, options);
      }
      function drawSecondChart() {
        var data = google.visualization.arrayToDataTable(dataMatrix2);
        var options = {
          colors: ['#4c177d','#663096','#7647a2','#aa8cc5','#ccbadc'],
          pieSliceText:'value',
          legend: { position:'bottom', alignment:'center', textStyle: {fontSize: 12} },
          height: '350',
          chartArea: {width: '100%', height: '90%', top:'5'},
          is3D:true
        }
        var chart = new google.visualization.PieChart(document.getElementById('pie-chart-2'));
        chart.draw(data, options);
      }

        google.charts.setOnLoadCallback(drawFirstChart);
        google.charts.setOnLoadCallback(drawSecondChart);



    })

</script>
