<div class="container welcome-contain">

  <div class="row">
    <div class="col-md-12" style="background-color:#f6f6f6;border-top:1px solid #696969;">
      <ul style="list-style:none;padding-top: 5px;padding-bottom:10px;">
        <li style="float:right;padding-left:10px;"><%= link_to "Abstract", welcome_abstract_path  %></li>
        <li style="float:right;padding-left:10px;"><%= link_to "Collaborators", welcome_collaborators_path %></li>
        <li style="float:right;padding-left:10px;"><%= link_to "Progress", welcome_progress_path, :style => "font-weight:bold; color:#320b59;" %></li>
        <li style="float:right;padding-left:10px;"><%= link_to "About", welcome_next_path %></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12"  style="background-color:#f6f6f6;">
      <h1>Progress of Sample Processing</h1>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" style="background-color:#f6f6f6;border-bottom:2px solid #696969">
      <table class="table table-bordered">
        <thead style="background-color:skyblue;">
          <tr>
            <th>Source <br> click for more information</th>
            <th>Disease</th>
            <th>Samples Received</th>
            <th>Date Received by UCSF</th>
            <th>Date Sent to Stanford</th>
            <th>HLA data available</th>
            <th>KIR data available</th>
          </tr>
        </thead>
        <tbody id="table-body" style="background-color:white;">
          <% @datasets.each do |d| %>
            <% d.batches.each do |b| %>
              <tr>
                <td><%= link_to d.source, welcome_dataset_path(dataset_id:d.id) %></td>
                <td><%= d.disease %></td>
                <td><%= b.samples.count %></td>
                <td><%= b.samples_received_at_ucsf %></td>
                <td><%= b.samples_sent_to_stanford %></td>
                <% if b.hlas_available == 0 %>
                  <td>-</td>
                <% else %>
                  <td><%= b.hlas_available %></td>
                <% end %>
                <% if b.kirs_available == 0 %>
                  <td>-</td>
                <% else %>
                  <td><%= b.kirs_available %></td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
