<div class="container welcome-contain">

  <div class="row">
    <div class="col-md-12" style="background-color:#f6f6f6;border-top:1px solid #696969;">
      <ul style="list-style:none;padding-top: 5px;padding-bottom:10px;">
        <li style="float:right;padding-left:10px;"><%= link_to "Abstract", welcome_abstract_path  %></li>
        <li style="float:right;padding-left:10px;"><%= link_to "Collaborators", welcome_collaborators_path %></li>
        <li style="float:right;padding-left:10px;"><%= link_to "Progress", welcome_progress_path, :style => "font-weight:bold; color:#320b59;" %></li>
        <li style="float:right;padding-left:10px;"><%= link_to "About", welcome_next_path %></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12"  style="background-color:#f6f6f6;">
      <h1>Progress of Sample Processing</h1>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" style="background-color:#f6f6f6;border-bottom:2px solid #696969">
      <table class="table table-bordered">
        <thead style="background-color:skyblue;">
          <tr>
            <th>Source <br> (click for information on received samples)</th>
            <th>Disease</th>
            <th>Proposed Cases and Controls</th>
            <th>Samples Received</th>
            <th>Samples Received/Proposed Cases & Controls</th>
            <th>Samples Sent to Stanford/Proposed Cases & Controls</th>
            <th>HLA genotypes available (controls)</th>
            <th>HLA genotypes available (cases)</th>
            <th>KIR genotypes available</th>
          </tr>
        </thead>
        <tbody id="table-body" style="background-color:white;">
          <% @collaborators.each do |c| %>
              <tr>
                <td><%= link_to c.name, welcome_dataset_path(collaborator_id:c.id) %></td>

                <td><%= c.disease %></td>

                <td><%= c.expected_discovery %></td>

                <% if c.datasets.count > 0 %>
                  <% sample_count = 0 %>
                    <% @d = c.datasets %>
                    <% @d.each do |dset| %>
                      <% @b = dset.batches %>
                      <% @b.each do |batch| %>
                        <% sample_count += batch.samples.count %>
                      <% end %>
                    <% end %>
                  <td><%= sample_count %></td>
                <% else %>
                  <td>-</td>
                <% end %>

                <% if c.datasets.count > 0 %>
                  <% sample_count = 0 %>
                    <% @d = c.datasets %>
                    <% @d.each do |dset| %>
                      <% @b = dset.batches %>
                      <% @b.each do |batch| %>
                        <% sample_count += batch.samples.count %>
                      <% end %>
                    <% end %>
                  <% if sample_count > 0 && c.expected_discovery != nil %>
                    <td><%= ((sample_count.to_f / c.expected_discovery.to_f).round(2) * 100).to_i %>%</td>
                  <% else %>
                    <td>-</td>
                  <% end %>
                <% else %>
                  <td>-</td>
                <% end %>

                <td></td>

                <% if c.datasets.count > 0 %>
                  <% hla_count = 0 %>
                  <% @d = c.datasets.where(disease:"HC") %>
                  <% @d.each do |dset| %>
                    <% dset.batches.each do |batch| %>
                      <% hla_count += batch.hlas_available %>
                    <% end %>
                  <% end %>
                  <% if hla_count > 0 %>
                    <td><%= hla_count %></td>
                  <% else %>
                    <td>-</td>
                  <% end %>
                <% else %>
                  <td>-</td>
                <% end %>
                
                <% if c.datasets.count > 0 %>
                  <% hla_count = 0 %>
                  <% @d = c.datasets.where.not(disease:"HC") %>
                  <% @d.each do |dset| %>
                    <% dset.batches.each do |batch| %>
                      <% hla_count += batch.hlas_available %>
                    <% end %>
                  <% end %>
                  <% if hla_count > 0 %>
                    <td><%= hla_count %></td>
                  <% else %>
                    <td>-</td>
                  <% end %>
                <% else %>
                  <td>-</td>
                <% end %>
                <td></td>
              </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
