<div class="container">

<p id="notice"><%= notice %></p>

<h1>Data activities</h1>

<table border="1">
  <thead>
    <tr>
      <th>Activity</th>
      <th>Person</th>
      <th>Date</th>
      <th>Updated by</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.activity %></td>
        <td><%= activity.person %></td>
        <td><%= activity.date %></td>
        <td><%= activity.updated_by %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>

</div>
