<div class="container">
  <!-- <h1 class="welcome_header text-center">indigo</h1> -->
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-6"><div style="margin: 0 auto"><%= image_tag("Indigo logo v2.png", alt: "Logo") %></div></div>
  </div>
  <h4 class="welcome_sub_header text-center">A collaborative study to better understand neurodegenerative diseases</h4>
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="container">
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "Home", root_path %></li>
        </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if !current_user %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Log In", new_user_session_path %></li>
        <% else %>
          <li><%= link_to current_user.email, users_profile_path %></li>
          <%if current_user.has_role? :admin %>
            <li><%= link_to "Admin", rails_admin_path %></li>
            <li><%= link_to "Upload Data", new_key_path %></li>
          <% end %>
          <li><%= link_to "Log Out", destroy_user_session_path, :method => 'delete' %></li>
        <% end %>
      </ul>
    </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
