<!DOCTYPE html>
<html>
  <head>
    <title>INDIGO</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/b-1.5.1/b-flash-1.5.1/b-html5-1.5.1/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/b-1.5.1/b-flash-1.5.1/b-html5-1.5.1/datatables.min.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <%= render 'layouts/tooltipjquery' %>
  </head>

  <body>
    <%= gflash %>
    <%- flash.each do |name, msg| -%>
      <%if name == 'alert' %>
        <%= js add_gritter(msg, :image => "error", :nodom_wrap  => true) %>
      <% else %>
        <%= js add_gritter(msg, :image => name, :nodom_wrap  => true) %>
      <% end %>
    <% end %>
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <!-- <%= debug(params) if Rails.env.development? %> -->
  </body>
</html>
<script>

</script>
