<!DOCTYPE html>
<html>
  <head>
    <title>INDIGO</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyBuJGruo-Du5OoRo6feKHC3csCRxHdOGDs" async="" defer="defer"></script>
    <%= render 'layouts/tooltipjquery' %>
  </head>

  <body>
    <%= gflash %>
    <%- flash.each do |name, msg| -%>
      <%if name == 'alert' %>
        <%= js add_gritter(msg, :image => "error", :nodom_wrap  => true) %>
      <% else %>
          <%= js add_gritter(msg, :image => name, :nodom_wrap  => true) %>
      <% end %>
    <% end %>
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <!-- <%= debug(params) if Rails.env.development? %> -->
  </body>
</html>
